.container {
  max-width: 1170px;
  margin: 0 auto;
}
body {
  background-color: #17141f;
}
.custom-navbar {
  background-color: #392e5c;
}
.knopkato4no {
  color: #6441a4;
  border-color: #6441a4;
  background-color: transparent;
}
.knopkato4no:hover {
  color: #fff;
  background-color: #6441a4;
  border-color: #fff;
}